article{
    background-color: lightblue;
    margin: 5px;
    padding: 10px;
    max-width: 300px;
    text-align: center;
}

img {
    width: 200px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 32.5em){
    .cards{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 60em){
    .cards{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}